<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial de App</title>
</head>
<body>
    <a href="/app/">Home</a>
    <h1>El 10</h1>
    <img src="https://scontent-mad2-1.xx.fbcdn.net/v/t39.30808-6/466684303_9942799329069158_1375171700785943735_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_ohc=F_97uAckGEIQ7kNvgFytOS1&_nc_zt=23&_nc_ht=scontent-mad2-1.xx&_nc_gid=ALn47ItzLZnXua8KXvT_svV&oh=00_AYH-t3nSwnSQaZYx8a-WEVPbVZBP0J6ndZwkn8eV4Ossdw&oe=67D10177"
    width="425"
    height="400"/>

    <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ul>
    
</body>
</html>