<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departamentos</title>
</head>
<body>
    <hr/>
    <h1 style="color: blue" > 
        Departamentos Oracle 
        </h1>
    {% include 'pages/menu.html' %}
    <hr/>

    <table border="4">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Localidad</th>
        </tr>
        {% for d in departamentos%}
        <tr>
            <td>{{ d.numero }}</td>
            <td>{{ d.nombre }}</td>
            <td>{{ d.localidad }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>