<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr/>
    <h1 style="color: maroon" > 
        Empleados Departamentos Oracle 
        </h1>
    {% include 'pages/menu.html' %}
    <hr/>
    <form method="post">
        {% csrf_token %}
        <label>Introduzca ID departamento:</label>
        <input type="number" name="iddepartamento"/>
        <button>
            Buscar empleados
        </button>
    </form>
    <table border="1">
        <tr>
            <th>Apellido</th>
            <th>Oficio</th>
            <th>Salario</th>
            <th>Departamento</th>
        </tr>
        {% for emp in empleados %}
        <tr>
            <td>{{emp.apellido}}</td>
            <td>{{emp.oficio}}</td>
            <td>{{emp.salario}}</td>
            <td>{{emp.departamento}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
