<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Dept.</title>
</head>
<body>
    <hr/>
    <h1 style="color: fuchsia" > 
        Insertar departamentos Oracle 
        </h1>
    {% include 'pages/menu.html' %}
    <hr/>

    <form method="post">
        {%csrf_token%}
        <label>Id Departamento</label>
        <input type="number" name="cajanumero"/><br/>
        <label>Nombre</label>
        <input type="text" name="cajanombre"/><br/>
        <label>Localidad</label>
        <input type="text" name="cajalocalidad"/><br/>

    <button>
        Insertar Departamento
    </button>

    <h2 style="color: goldenrod">
        {{mensaje}}
    </h2>

</body>
</html>