<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conjetura Collatz</title>
</head>
<body>
    {% include 'informacion/menu.html' %}
    <hr/>
    <span style="color: green">
       <h1>Conjetura Collatz</h1> 

       <form method = "post">
        {%csrf_token%}
        <input type="number" name="cajanumero"/><br/>
        <button>
            Collatz
        </button>

    </form>
    <ul>
        {% for num in numeroscollatz %}
        <li> {{num}} </li>
        {% endfor %}
    </ul>
</body>

</html>