<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugadores</title>
    
</head>
<body>
    {% include 'informacion/menu.html' %}
    <hr/>
    <h1> Jugadores </h1>
    <!-- RECORREMOS LOS NUMEROS QUE RECIBIMOS -->
    <!-- {{ numeros }} -->


    <table border="1">
        {% for valor in numeros %}
        <tr>
            <td>Num</td>
            <td>{{ valor }}</td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>