<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla Muntiplicar</title>
</head>
<body>
    {% include 'informacion/menu.html' %}
    <hr/>
    <span style="color: purple">
       <h1>Tabla multiplicar</h1> 
    
    <form method="post">
        {%csrf_token%}
        <input type="number" name="cajanumero"/><br/>
        <button>
            Número
        </button>
    </form>
    <table border="1">
        <tr>
            <th>Operación</th>
            <th>Resultado</th>
        </tr>
        {% for dato in tablamultiplicar %}
        <tr>
            <td>{{dato.operacion}} </td>
            <td>{{dato.resultado}} </td>
        </tr>
         {% endfor %}
    </table>
</body>
</html>